/*
Theme Name:   	UpFront Child
Theme URI:    	https://n3rds.work
Description:  	UpFront Child Theme
Author: 		WMS N@W Team
Author URI: 	https://n3rds.work
Template:     	upfront
Version:      	1.0.5
License:      	GNU General Public License v2 or later
License URI:  	http://www.gnu.org/licenses/gpl-2.0.html
Tags:         	theme, template, template builder, builder, theme builder, upfront, flexible, flexible-header
Text Domain:  	upfront-child
*/